body{
    margin: 0;
    background: #f4f4f4;
    font-family: Arial, sans-serif;
}

/*Estilo para la cabecera*/
header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #d3e3eb;
    padding: 15px 30px;
}

.logo {
    height: 65px;
}

/* Menu */
nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

nav ul li {
    position: relative;
}

nav a {
 text-decoration: none;   
 color: #000;
 font-weight: normal;
}

nav a:hover {
    font-weight: bold;
}

/* Submenu*/
.dropdown {
    display: none;
    position: relative;
    background: white;
    list-style: none;
    padding: 10px;
    top: 25px;
    left: 0;
    border-radius: 8px;
    min-width: 150px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.submenu:hover .dropdown{
    display: block;
}

.dropdown li{
    margin: 8px 0;
}

.dropdown li a{
color: #333;
}

/* Mensaje personalizado */
.mensaje{
    text-align: center;
    padding: 10px;
    background: #448044;
    color: white;
    font-size: 18px;
}

/* Portada */
.portada {
    width: 100%;
    height: 450%;
    overflow: hidden;
}

.portada-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* slider*/
.slider{
    position: relative;
    width: 100%;
    height: 400px;
    overflow: hidden;
}

.slides img {
    width: 100%;
    height: 400px;
    object-fit: cover;
    display: none;
}

.slide{
    min-width: 100%;
    display: none;
}

.slides img.active {
    display: block;
}

.slider-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    padding: 10px;
    font-size: 24px;
    cursor: pointer;
    background: rgba(0, 0, 0, 0.4);
    color: white;
    border: none;
}

#prev{ left: 10px; }
#next{ right: 10px; }


/* Cards de lugares */
.contenedor-lugares {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    padding: 20px;
}

/* Para pantallas grandes: 4 columnas siempre */
@media (min-width: 1024px) {
    .contenedor-lugares {
        grid-template-columns: repeat(4, 1fr);
    }
}

.lugar{
    margin-bottom: 30px;
    background: white;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1)
}

.lugar img{
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
}

.ver-mas{
    background: #448044;
    color: white;
    padding: 8px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

/* Mostrar info adicional */
.info-adicional {
    display: none;
    background: #f0f0f0;
    padding: 10px;
    margin-top: 10px;
    border-radius: 5px;
}

.info-adicional.visible {
    display: block;
}

.lugar.activo .info-adicional {
    display: block;
}

/* Responsive */
@media (max-width:768px){
    nav ul{
        flex-direction: column;
        gap: 10px;
    }
}

/* Informacion util */
.info-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 25px;
    padding: 20px;
}

.info-card {
    background: white;
    border-radius: 8px;
    padding: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.info-card img {
    width: 100%;
    border-radius: 8px;
    margin-bottom: 10px;
}

.info-card h3 {
    margin: 10px 0;
}

/* El titulo ocupa toda la fila */
.contenedor-lugares h2 {
    grid-column: 1 / -1;
    margin-bottom: 20px;
}